#app{
  max-width: 66vw;
  margin: 2vh auto;
  padding: 20px;
  background: #fff;
}
.pagination{
  display: flex;
  justify-content: flex-end;
}
table td, table th{
  min-width: 22vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.-hide{
  visibility: hidden;
}
.chart{
  display: flex;
  justify-content: space-between;
}
canvas{
  min-width: 30vw;
  max-width: 30vw;
  max-height: 300px;
}
.file input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.file{
  display: flex;
  justify-content: center;
  cursor: pointer;
}


html, body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1D353D;
  background: transparent;
}