<script lang="ts" setup>
import { useCitiesStore } from '@/store'
const store = useCitiesStore();
</script>
<template>
  <a-space class="cities-actions">
    <a-button type="primary" @click="store.getCities" :loading="store.loading">Заполнить</a-button>
    <CitiesModal/>
  </a-space>
</template>
