<script lang="ts" setup>
import { useCitiesStore } from '@/store'
import { citiesForm } from '@/utils'
import { storeToRefs } from 'pinia'
const store = useCitiesStore()
const { loadingModal, modal, city } = storeToRefs(store) 
</script>
<template>
  <div>
    <a-button @click="store.toggleModal">Добавить</a-button>
    <a-modal v-model:open="modal" title="Add row" :confirm-loading="loadingModal" @ok="store.addCity" okText="Готово" cancelText="Закрыть">
      <a-form v-bind="citiesForm">
        <a-form-item has-feedback label="Name" name="name">
          <a-input v-model:value="city.name" />
        </a-form-item>
        <a-form-item has-feedback label="Population" name="population">
          <a-input-number v-model:value="city.population" type="phone" />
        </a-form-item>
        <a-form-item has-feedback label="Vehicle" type="phone" name="vehicle">
          <a-input-number v-model:value="city.vehicle" />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>
