<script lang="ts" setup>
import { useCitiesStore } from '@/store'
import { citiesColumns } from '@/utils'
import { storeToRefs } from 'pinia'
const store = useCitiesStore()
const { loading, cities } = storeToRefs(store)
</script>
<template>
  <a-table
    :columns="citiesColumns"
    :data-source="cities"
    :pagination="store.pagination"
    :loading="loading"
    @change="store.setParams"
  />
</template>